# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
simulator/venv/

# Environment / secrets
.env
*.env

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Python cache
.pytest_cache/

# IDE
.vscode/
.idea/

# Datasets
datasets/raw/
datasets/processed/
